@page "/BookMyShow/Movies/HindiMovies"
@{
    Layout = "BMSLayout";
}
@model BookMyShowModel
@{
    ViewData["Title"] = "Hindi Movies";
}

<div class="text-center">
    <h1 class="display-4">Welcome-BookMyshow Hindi Movies</h1>
    <p>Book for Hindi Movies in your city</p>
</div>
