@page "/BookMyShow/Movies/MalayalamMovies"
@{
    Layout = "BMSLayout";
}
@model BookMyShowModel
@{
    ViewData["Title"] = "Malayalam Movies";
}

<div class="text-center">
    <h1 class="display-4">Welcome-BookMyshow Malayalam Movies</h1>
    <p>Book for Malayalam Movies in your city</p>
</div>
