@page
@{
    Layout = "BMSLayout";
}
@model BookMyShowModel
@{
    ViewData["Title"] = "Book Sports Events";
}

<div class="text-center">
    <h1 class="display-4">Welcome-BookMyshow Sports Events</h1>
    <p>Book for all the Sports events in your city.</p>
</div>
