@page "/BookMyShow/Movies/TamilMovies"
@{
    Layout = "BMSLayout";
}
@model BookMyShowModel
@{
    ViewData["Title"] = "Tamil Movies";
}

<div class="text-center">
    <h1 class="display-4">Welcome-BookMyshow Tamil Movies</h1>
    <p>Book for Tamil Movies in your city</p>
</div>
